.del {
  border: none;
  position: absolute;
  right: 5px;
  top: 5px;
  height: 25px;
  width: 25px;
  background: rgb(211, 90, 90);
  color: aliceblue;
  cursor: pointer;
}

.edit {
  border: none;
  position: absolute;
  right: 35px;
  top: 5px;
  height: 25px;
  width: 30px;
  background: rgb(39, 53, 243);
  color: aliceblue;
  cursor: pointer;
}
