{
  "extends": ["react-app", "airbnb", "plugin:prettier/recommended"],

  "plugins": ["prettier"],

  "rules": {
    "prettier/prettier": "error",
    "import/no-unresolved": "off",
    "import/no-extraneous-dependencies": "off"
  }
}
